---
---

@import "{{ site.theme }}";

body {
    font: 15px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0f0f0;
}

code {
    margin: 0 1px; padding: 1px 2px;
    color: #d0c0b0;
}

strong {
    color: #d0c0b0;
}

h1 {
    color: #f0f0f0;
}

h2 {
    color: #d0c0b0;
}

h3 {
    color: #d0c0b0;
}
