<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</a></h1>
             <p><a href="{{ site.url }}">Blog</a> |
             <a href="{{ "/sponsor" | prepend: site.baseurl }}">Sponsor Rust</a> |
             <a href="{{ "/academic" | prepend: site.baseurl }}">Academic</a> |
             <a href="{{ "/music" | prepend: site.baseurl }}">Music</a> |
             <a href="{{ "/about" | prepend: site.baseurl }}">About</a></p>
<hr>
<span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
<span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        {{ content }}

</section>
</div>

  </body>
</html>
